<section>
    <div class="about-container">
        <div class="polaroid">
            <img src="../../../assets/images/vaclav-pluhar-uqMBLm8bAdA-unsplash (1).jpg" alt="Rijkmuseum">
            <div class="caption">I Miss the Rijkmuseum</div>
        </div>
        <div class="about-text">
            <h2>Discover the power of Inkism</h2>
            <p>Have you just visited the Rijkmuseum but you don't remember the title of that beautiful painting?
                Or are you planning your next holiday in Amsterdam and you wanna check out what the most famous museaum in the city has to offer?
                Or maybe you simply wanna browse and let your artsy sid ego wild...
                Well then , you landed on the right website...
                Discover the power of the AI powered application that let's you browse artists and paintings from the huge collection from the Rijkmuseum
            </p>
        </div>
    </div>
</section>
